<div class="content">
    <img class="logo" src="assets/images/background/background.jpg">
    <mat-card class="container-card">
        <mat-card-content>
            <div class="div-form">
                <div class="title">INICIA SESIÓN</div>
                <form name="loginForm" [formGroup]="loginForm" class="login-form">

                    <mat-form-field appearance="outline" class="input-full-width">
                        <mat-label>Correo</mat-label>
                        <input matInput formControlName="email" appearance="fill">
                        <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                        <mat-error>
                            Correo válido es requerido
                        </mat-error>

                    </mat-form-field>

                    <mat-form-field appearance="outline" class="input-full-width">
                        <mat-label>Contraseña</mat-label>
                        <input matInput type="password" formControlName="password" #password appearance="fill">
                        <mat-icon matSuffix class="secondary-text" (click)="showPassword(password)" *ngIf="!showPass">
                            visibility</mat-icon>
                        <mat-icon matSuffix class="secondary-text" (click)="showPassword(password)" *ngIf="showPass">
                            visibility_off</mat-icon>
                        <mat-error>
                            Contraseña es requerida
                        </mat-error>
                    </mat-form-field>

                    <div class="button-container">
                        <button (click)="doLogin()" mat-raised-button class="submit-button bg-color" 
                            aria-label="LOGIN" [disabled]="!isReadyToSend">
                            Iniciar Sesión
                        </button>
                    </div>


                </form>

            </div>
        </mat-card-content>
    </mat-card>
</div>